// 设置统一的样式变量
$primary-color: #40586F; // 基础颜色
$success-color: #51cf66; // 成功时候的颜色
$warning-color: #fcc419; // 警告时候的颜色
$danger-color: #ff6b6b; // 错误时候的颜色
$info-color: #868e96; // #22b8cf; 相关的颜色

$body-bg: #E9EEF3; // #f5f5f9; 背景的颜色
$sidebar-bg: #F8F9FB; // 侧边栏的颜色
$navbar-bg: #F8F9FB; // 导航栏的颜色

// 全局字体的样式
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helve tica, Arial, sans-serif;